*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(203, 227, 227);
}
.wrapper{
    background: #141414;
    width: 780px;
    padding: 35px 40px;
    border-radius: 20px;
}
.wrapper header{
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.piano-keys .key-white,.key-black{
    color: #a2a2a2;
    text-transform: uppercase;
    position: relative;
    user-select: none;
}
.piano-keys{
    display: flex;
    margin-top: 40px;
    cursor: pointer;
}
.piano-keys .key-white{
    width: 70px;
    height: 230px;
    background: linear-gradient(#fff 96%,#eee 4%);
    border-radius: 8px;
    border: 1px solid #000;
}
.piano-keys .key-white.active{
    background: linear-gradient(to bottom, #fff 0%,#eee 100%);
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
}
.piano-keys .key-black{
    width: 44px;
    height: 140px;
    background: linear-gradient(#333 96%,#000 4%);
    border-radius: 0 0 5px 5px;
    margin: 0 -22px 0 -22px;
    z-index: 2;
}
.piano-keys .key-black.active{
    background: linear-gradient(to bottom, #000,#434343);
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
}
.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}
header h2{
    font-size: 1.6rem;
}
header .volume{
    display: flex;
    align-items: center;
}
header span{
    font-weight: 500;
    margin-left: 15px;
    font-size: 1.19rem;
}
header .volume input{
    accent-color: white;
}